
:root {
  /* ? ========== Primary colors ========== */
  --Light-red: hsl(356, 100%, 66%);
  --very-dark-red: hsl(355, 100%, 74%);
  --very-dark-blue: hsl(208, 49%, 24%);

  /* ? ========== Neutral ========== */

  --white: hsl(0, 0%, 100%);
  --Grayish-blue: hsl(240, 2%, 79%);
  --Very-dark-grayish-blue: hsl(207, 13%, 34%);
  --Very-dark-black-blue: hsl(240, 10%, 16%);
  --rounded: 80px;
  --rounded-btn: 20px;
  --blackt: hsla(0, 0%, 0%, 0.6);
  --whitet: hsla(0, 0%, 100%, 0.7);

  /* ? ========== Grdient  ========== */
  /*Banner*/
  --Very-light-red: hsl(13, 100%, 72%);
  --light-red: hsl(353, 100%, 62%);
  /*Body banner*/
  --Very-dark-gray-blue: hsl(237, 17%, 21%);
  --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
}